.todo{
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    max-width: 750px;
    background: linear-gradient(to bottom, #003366, #0066cc);
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.invitacion {
    width: 70%;
    max-width: 600px;
    background-color: #fcf9f4;
    border: 2px solid #e4dcd1;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.fecha-hora {
    font-size: 1.2rem;
    color: #506475;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.horario{
    color: blue;
    font-size: 1.5rem;
}

h1 {
    font-size: 1.5rem;
    color: #c19048;
    font-weight: bold;
    margin: 10px 0;
}

.escudo {
    margin: 15px 0;
}

.escudo img {
    width: 100px;
    height: auto;
}

.texto {
    background-color: #eaf5ee;
    padding: 10px;
    margin: 20px 0;
    border-left: 4px solid #90c695;
    text-align: left;
    border-radius: 5px;
}

.texto h2 {
    font-size: 1rem;
    color: #78a389;
    margin: 0;
    padding: 0;
}

.texto p {
    font-size: 0.9rem;
    color: #506475;
    margin: 5px 0 0;
}

.detalle {
    font-size: 0.9rem;
    color: #506475;
    text-align: left;
    margin: 10px 0;
}

.detalle strong {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    color: #c19048;
}

.direccion {
    font-size: 0.8rem;
    color: #c19048;
    margin: 20px 0 0;
}

.invitacion:before, 
.invitacion:after {
    content: "";
    position: absolute;
    border: 2px solid #d3c2a8;
    width: 90%;
    height: calc(100% - 20px);
    top: 10px;
    left: 5%;
    z-index: -1;
    border-radius: 10px;
}

.invitacion:after {
    border-color: #e4dcd1;
    top: 15px;
    left: 7%;
    width: 86%;
    height: calc(100% - 30px);
}

@media (max-width:700px){
    .todo{
        margin-bottom:20px;
    }
}