*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container-mayor { 
    display: flex; /* Cambiar el display */
    flex-direction: column; /* Orientar en columna */
    align-items: center; /* Centrar horizontalmente los elementos */
    gap: 20px; /* Espacio entre los elementos */
}

.container-menor {
    margin-top: 20px;
    background-color: wheat;
    width: 90%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Asegurar orientación vertical dentro de cada contenedor */
}


.partes{
    border: none;
}

h2{
    text-align: justify;
    padding: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container-menor .partes p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    padding: 15px;
}

strong{
    color: blue;
}
.Equipo-directivo{
    color: rebeccapurple;
}

@media (max-width:800px){
    .container-menor{
    padding: 10px;
    border: none;
    }
    h2{
        color: black;
        padding:0px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 5px;
        text-decoration: underline;
        text-decoration-color: red;
    }
    p{
        color: black;
    }
}