*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
h2 {
    text-align: center;
    color: #333;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.year {
    margin-bottom: 20px;
}
.year h3{
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.divisions {
    list-style-type: none;
    padding: 0;
}
.divisions li {
    background: #000000;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    color: black;
    font-family: Arial Black;
}
.divisions li:hover{
    background-color: aqua;
    color: black;
}

li a{
    color: white;
    text-decoration: none;
    text-decoration-color: none;
}

