/*------------------------ CSS DEL HEADER QUE VA EN TODOS LOS .html ---------------------------*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  background-color: white;
}
header{
  background-color:black;
  height: auto;
  width: 100%;
}

.header2{
  display: flex;
  justify-content: space-between;
}

.img-tesla{
  margin-top: 10px;
  width: 80px;
  height: 90px;
  margin-left: 160px;
}
.img-tesla:hover{
  border: 2px solid black;
}

.titulo{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 25px;
  color: white;
  padding: 0px;
  margin-top: 25px;
  margin-right: 20px;
}

.btn-inicio{
  border: 1px solid transparent;
  position: relative;
  margin-right: 100px;
  height: 70px;
  width: 70px;
  background-color: aqua;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-inicio:hover{
  background-color: aquamarine;
}

li{
  color: white;
}


btn{
  border: none;
  padding: 6px;
  cursor: pointer;
}
btn:hover{
  background-color: grey;
  color: white;
  border-radius: 50px;
  padding: 6px;
}

/*----------------------------- FOOTER -------------------------------*/

footer {
  width: 100%;
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
  margin-top: 40px;
}


/*navegacion*/
.nav-bar {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 18px;
}

.nav-bar li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
}

.nav-bar li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Estilos para el submenú desplegable */
.dropdown {
  position: relative;
}

#Más {
  color: white;
  margin-top: 20px;
}
.dropdown-content {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%; /* Aparece justo debajo del botón "Más" */
  right: 0;
  background-color: gray;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
}
.dropdown-content li a:hover{
  background-color: grey;
  border: 1px soldi blue;
}

.dropdown-content li a {
  padding: 10px;
  color: black;
}

/* Mostrar el menú desplegable cuando se coloca el ratón sobre el botón "Más" */
.dropdown:hover .dropdown-content {
  display: block;
}



/*---------------------------- media query -------------------------------*/
@media (max-width:800px){

  body{
      background-color: aqua;
  }

  .img-tesla{
    border: none;
    /*llevar esta imagen a la izq*/
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .search-container {
    border: none;
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Centra el contenido dentro del contenedor */
    width: 30%;
  }

}

@media (max-width: 600px) {
  /* Ocultar algunos elementos en pantallas pequeñas */
  .nav-bar li:nth-child() {
      display: none;
  }

  /* Mostrar el botón "Más" */
  .dropdown {
      display: block;
  }
}


@media (min-width:800px){

  .img-tesla{
    border: none;
    /*llevar esta imagen a la izq*/
    display: block;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .search-container {
    border: none;
    display: block;
    margin: 0 auto; /* Centra horizontalmente */
    text-align: center; /* Centra el contenido dentro del contenedor */
    width: 30%;
  }

}

  /* Media query para pantallas grandes */
@media (min-width: 1000px) {
  /* Ocultar los elementos adicionales en pantallas pequeñas */
  .nav-bar li:nth-ch {
    display: none; /* Los oculta en pantallas pequeñas */
  }

  /* "none" lo oculta  y "block" muestra el btn mas */
  .dropdown {
    display: block;
  }
}

