*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h2{
    color: black;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
